# Dependencies
**/node_modules
**/dist
**/dist-ssr
**/.next

# Environment variables
# Leaving .env out of ignore for now as requested for "every file" in proto
# .env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# IDE / OS
.vscode
.idea
.DS_Store
Thumbs.db

# Firebase
# User explicitly asked to push "every firebase" but it causes revocation
firebase-service-account.json 
